<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/404.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Beth+Ellen|Cinzel|Lato:300,400,700|Loved+by+the+King|Open+Sans|Patrick+Hand+SC&display=swap" rel="stylesheet">

</head>

<body>
  <div>
    <h1>404</h1>
    <h2>"I have gone astray like a lost sheep"...</h2>
    <h2>Psalm 119:176</h2>
      <p>Like the sheep, this page is lost. The shepherd is either out looking for it or waiting for it to be born. </p>
      <button><a href="/add">Go Back Home</a></button>
  </div>

</body>

</html>