<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meeting Minute Detail</title>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="../../styles/meeting_detail.css">
</head>

<body>
  <%- include('../layout/header') %>
  <main>
  <%- include('../layout/meeting_detail', {meeting: meeting}) %>
  </main>

  <%- include('../layout/footer') %>
</body>

</html>