<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pastor Detail</title>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="../../styles/pastor_detail.css">
</head>

<body>
  <%- include('../layout/header') %>
  <main>
  <%- include('../layout/pastor_detail', {pastor: pastor}) %>
  </main>

  <%- include('../layout/footer') %>
</body>

</html>