/* font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Beth Ellen', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Loved by the King', cursive; */

html {
  height: 100vh;
}

body {
  background-image: url("./images/pretty_river.jpg");
  background-attachment: fixed;
  background-color: #9AB37B;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}


img {
  width: 5.2rem;
  height: 4.75rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  /* flex-grow: 2; */
}

#add-to-database-box {
  margin-top: 12rem;
  overflow-y: scroll;
  overflow: visible;
  position: sticky; 
  padding: 2rem 0;
  margin-bottom: 8rem;
  /* background-color: #2D3227; */
  background-color:rgb(0,0,0,.8);
  /* opacity: .6; */
  color: white;
  width: 100%;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 6px outset white;
  box-shadow: 5px 5px 2px 1px black;
}
label#church-1 {
  display: none;
}


h1 {
  font-family: 'Cinzel', serif;
  font-size: 4rem;
  /* opacity: 1; */
  margin: 1rem 0rem;
}

#add-to-database-box > p {
  text-align: center;
  margin: 0 2rem 2rem 2rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  
}
.button-container > button > h2 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
}

.line-break {
  background-color: white;
  width: 100%;
  height: .2rem;
  margin: 2rem 0;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  color: #BE5347;
  /* opacity: 1; */
  margin-right: 6.3rem;
}

.button-container > button {
  margin-left: 1rem;
  margin-right: 1rem;
}
button {
  background-color: #6b7d56;
  padding: .5rem 1rem;
  width: 30%;
  color: black;
  /* font-weight: bold; */
  border: 6px outset white;
  font-size: 1.5rem;
  /* TODO: Add a box shadow that looks like a 3D button press */
  /* box-shadow: 5px 5px 2px 1px grey; */
  
  /* opacity: 1; */
  /* margin-bottom: .5rem; */
}

button:focus {
  outline: none;
}

button.selected {
  background-color: #BE5347;
  color: white;
  border: 6px inset grey;
}

/* TODO: decide if I want a hover effect on the buttons */
/* button:hover {
  background-color: #FBD160;
  color: black;
  border: 6px inset grey;
  /* TODO: Add a box shadow that looks like a 3D button press */
  /* box-shadow: 5px 5px 2px 1px grey; */
/* }  */

button > i {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  padding: 1rem;
}
a {
  font-family: 'Lato', sans-serif;
  font-size: .75rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7rem;
}

form > input, textarea {
  margin-top: 1rem;
  padding: .3rem;
  width: 100%;
  font-size: 1.25rem;
  color: #BE5347;
  text-align: center;
  border: 4px inset #BE5347;
  font-family: 'Lato', sans-serif;
}

form > button {
  margin-top: 2rem;
  width: 90%;
  margin-bottom: 2rem;
}

form > .form-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: .5rem 0;
}

form > .form-title  i {
  margin-right: 1rem;
  font-size: 2.5rem;
}

form > .form-title > h3 {
  font-family: 'Cinzel', serif;
}

form > p {
  text-align: center;
  margin: 0 2rem 2rem 2rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}

.add-pastor-form > .line-break {
  margin-top: 2rem;
}

/* .select-div {
  width: 101.5%;
} */

.dropdown-el {
  min-width: 35em;
  position: relative;
  display: inline-block;
  /* margin-right: 1em; */
  min-height: 2em;
  max-height: 2em;
  overflow: scroll;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  color: #757575;
  outline: none;
  border: .06em solid transparent;
  border-radius: 0;
  background-color: white;
  transition: 0.3s all ease-in-out;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  border: 4px inset #BE5347;
}
.dropdown-el input:focus + label {
  background: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  border-top: .06em inset #BE5347;
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}
.dropdown-el label:nth-child(2) {
  margin-top: 3em;
  border-top: .06em inset #BE5347;
  
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  height: 2.5em;
  line-height: 2.5em;
  top: 0;
  width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #BE5347;
  border-color: #BE5347 transparent transparent transparent;
  transition: .4s all ease-in-out;
}
.dropdown-el.expanded {
  border: 4px inset #BE5347;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 19em;
}
.dropdown-el.expanded label {
  border-top: .06em solid #BE5347;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif; 
}
.dropdown-el.expanded label:hover {
  color: white;
  background-color:#BE5347;
}
.dropdown-el.expanded input:checked + label {
  color: white;
  background-color:#BE5347;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}

/* .note {
  color: #BE5347;
  font-weight: bold;
} */

.add-minutes-form > div {
  width: 100%;
}

#date, #time, #meeting-location {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
  /* flex: 1; */
}

#time > label, #meeting-location > label, #date > label {
  /* flex: 1; */
  display: flex;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  margin-right: 1rem;
}

#time > input, #meeting-location > input, #date > input {
  flex: 1;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  text-align: center;
  padding: .519rem.5rem;
}

#date > input {
  padding: .332rem .5rem;
}

#time > label:nth-of-type(2), #meeting-location > label:nth-of-type(2) {
  margin: 0 1rem 0 1rem;
}

#meeting-location {
  margin-bottom: 0;
}

.add-minutes-form > h3 {
  font-family: 'Cinzel', serif;
  font-size: 1.75rem;
}

.attendees {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#attendee-list {
  columns: 2 auto;
  width: 90%;
  margin-bottom: .75rem;
}

#attendee-list > li {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

#attendee-list > li > input {
  display: flex;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  padding: .644rem 0rem
}

#add-attendee {
  width: 70%;
}

#general {
  display: flex;
  flex-direction: column;
}

.general-row, #sharing {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

#sharing > h3 {
  margin-right: 1rem;
}

#sharing > input {
  flex: 1;
  padding: .519rem .5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.general-row > h3 {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
}

.general-row > input {
  flex: 1;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  padding: .519rem .5rem;
  margin-left: 1rem;
}

#general > div > h3 {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
}

#announcements {
  margin-top: 1rem;
  margin-bottom: 0;
}

#announcements > h3 {
  width: 100%;
  /* text-align: center; */
}

#announcements > textarea {
  width: 100%;
  border: none;
  padding: .3rem 0;
}

#church-report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.church-report {
  border: 2px white solid;
  width: 90%;
  margin-bottom: 2rem;
  padding: 2rem;
}

.church-report:last-child {
  margin-bottom: 0rem;
}

.church-report > div > h4 {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.church-report > div > h6 {
  font-size: 1.25rem;
  color: white;
}

.church-report > .report {
  margin-top: 2rem;
}

.church-report > .report > h6 {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.church-report > .report > textarea  {
  margin: 0;
  width: 100%;
  border: none;
  padding: .3rem 0;
}

.prayer-requests {
  width: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.prayer-requests > h6 {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem !important;
  /* text-align: center; */
  /* width: 100%;  */
  margin: 2rem 0 1rem 0;
}

.prayer-requests > ol {
  width: 100%;
}

.prayer-requests > ol > li {
  margin-bottom: 1rem;
  width: 100%;
}

.prayer-requests > ol > li > input {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  padding: .644rem 0rem;
  border: none;
}

.prayer-requests > button {
  width: 70%;
  margin-top: 1rem;
  align-self: center;
}

#other-matters {
  display: flex;
  flex-direction: column;
}

#other-matters > ol > li > input {
  width: 100%;
  border: none;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  padding: .644rem 0rem;
}

#other-matters > button {
  align-self: center;
  width: 70%;
  margin-top: 1rem;
}

#closing {
  display: flex;
  flex-direction: column;
}

#closing > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#closing > div > h6 {
  margin-bottom: 1rem;
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  color: white;
}

#closing > div > div > label {
  margin-right: 1rem;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
}

#closing > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

#closing-prayer > h3 {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

#closing > div > div > input, #closing > div > input  {
  flex: 1;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  padding: .644rem 0rem;
  border: none;

}

#date-input {
  padding: .457rem 0rem !important;
}
#closing > div > div > label:nth-of-type(2) {
  margin: 0 1rem 0 1rem;
}

/* #closing-location > input, #closing-prayer > input, #closing > div > div > input:nth-of-type(2) {
  padding: .488rem 0rem !important;
} */

#closing-prayer > h3 {

}