<footer>
    <!-- TODO: Move footer to a partial -->
    <p>Copyright <script type="text/JavaScript">

      document.write(new Date().getFullYear());
      
      </script> Redeemer of Life Ministries </p>
      <p>Site Design and Development by <a href="http://erintrainor.me" target="_blank">Erin Trainor</a></p>
  </footer>