<header>
    <div class = "logo-title">
      <img src="../../styles/images/redeemer-logo-white.png"/>
      <h1>Redeemer of Life Ministries</h1>
    </div>
    <nav>
        <div>
          <button class="hamburger">☰</button>
          <!-- <button class="cross">☰</button> -->
        </div>
        <div class="menu">
          <ul>
            <a href="/add"><li>Add to Database</li></a>
            <a href="/all_pastors"><li>Pastors</li></a>
            <a href="/all_churches"><li>Churches</li></a>
            <a href="/all_meeting_minutes"><li>Meeting Minutes</li></a>
            <a href="/all_annual_budgets"><li>Annual Budget</li></a>
            <a href="/all_prayer_requests"><li>Prayer Requests</li></a>
            <a href="/resource_list"><li>How To ...</li></a>
            <!-- <a href="/"><li>Login</li></a> -->
            <!-- <a href="#"><li>Statistics</li></a>
            <a href="#"><li>Users</li></a> -->
          </ul>
        </div> 
    </nav>
</header>